* {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
} 

h1{
    font-family: 'Pacifico', cursive;
    font-size:64px;
}

#orientation:after
    {
        display:block;

        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    /* Portrait */
    @media screen and (orientation:portrait) {
        #orientation:after
        {
            content: 'Portrait';
            display:block;
            background-color:red;
        }
    }
    /* Landscape */
    @media screen and (orientation:landscape) {
        #orientation:after
        {
            content: 'Landscape';            
            display:block;
            background-color:green;
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) 
    { 
        /* some hi-res (Retina) css */ 
        #pixelRatio:after
        {
            content: 'Hi Pixel';        
            display:block;
            background-color:purple;
        }
    }