* {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
} 

body{
    /*
    background-color:#4291AA;
    color:#F1F7E4;
    */
}

header
{
    position:fixed;
    background-color:rgba(66, 145, 170,0.85);
    display:block;
    top:0;
    right:0;
    width:100%;
}

.logo {
    position: fixed;
    top:30px;
    right:30px;
}

#content{
    margin:180px 0 0 0;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size:64px;
    margin:20px;
    color:#F1F7E4;
}

h2[data-test-value='true'],
h3[data-test-value='true']
{
    color:green;
}

h2[data-test-value='false'],
h3[data-test-value='false']
{
    color:red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


#orientation:after
    {
        display:block;

        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    /* Portrait */
    @media screen and (orientation:portrait) {
        #orientation:after
        {
            content: 'Portrait';
            display:block;
            background-color:red;
        }
    }
    /* Landscape */
    @media screen and (orientation:landscape) {
        #orientation:after
        {
            content: 'Landscape';            
            display:block;
            background-color:green;
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2), 
        only screen and (min-resolution: 192dpi) 
    { 
        /* some hi-res (Retina) css */ 
        #pixelRatio:after
        {
            content: 'Hi Pixel';        
            display:block;
            background-color:purple;
        }
    }

    @media only screen and (max-width: 700px), only screen and (max-device-width: 700px) 
    {
        h1
        {
            font-size:32px;
        }

        .logo
        {
            top:10px;
            right:15px;
        }

        #content{
            margin:120px 0 0 0;
        }
    }

    @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
         .logo{
            display:none;
        }
    }